@keyframes cloudDrift {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100vw);
  }
}

.clouds-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(200, 220, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.cloud {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('/assets/cloud1.png');
  opacity: 1;
  filter: brightness(4) saturate(2) drop-shadow(0 0 15px rgba(255, 255, 255, 1));
}

.cloud1 {
  background-image: url('/assets/cloud1.png');
  width: 700px;
  height: 250px;
}

.cloud2 {
  background-image: url('/assets/cloud2.png');
  width: 680px;
  height: 240px;
}

.cloud3 {
  background-image: url('/assets/cloud3.png');
  width: 720px;
  height: 260px;
}

.cloud4 {
  background-image: url('/assets/cloud4.png');
  width: 690px;
  height: 245px;
}

.cloud5 {
  background-image: url('/assets/cloud5.png');
  width: 710px;
  height: 255px;
}
