@keyframes cloudDrift {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100vw);
  }
}

.clouds-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  /* Original gradient for desktop */
  background: linear-gradient(
    to bottom,
    rgba(236, 72, 153, 0.07) 0%,
    rgba(124, 58, 237, 0.07) 50%,
    rgba(200, 220, 255, 0.7) 100%
  );
}

.cloud {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('/assets/cloud1.jpeg');
  opacity: 1;
}

/* iOS HDR fix - only applies on iOS devices */
@supports (-webkit-touch-callout: none) {
  .cloud {
    filter: none !important;
    opacity: 0.999;
  }
}

.cloud1 {
  background-image: url('/assets/cloud1.jpeg');
  width: 700px;
  height: 250px;
}

.cloud2 {
  background-image: url('/assets/cloud2.jpeg');
  width: 680px;
  height: 240px;
}

.cloud3 {
  background-image: url('/assets/cloud3.jpeg');
  width: 720px;
  height: 260px;
}

.cloud4 {
  background-image: url('/assets/cloud4.jpeg');
  width: 690px;
  height: 245px;
}

.cloud5 {
  background-image: url('/assets/cloud5.jpeg');
  width: 710px;
  height: 255px;
}
