.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(140, 164, 218);
  color: white;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgb(213, 174, 250, 0.7);
  animation: fadeInUp 0.3s ease;
}

.back-to-top:hover {
  background-color: rgb(140, 164, 218);
  box-shadow: 0 6px 16px rgb(213, 174, 250);
  transform: translateY(-2px);
}

.dark .back-to-top {
  background-color: rgb(103, 71, 129);
  box-shadow: 0 4px 12px rgb(255, 255, 255, 0.7);
}

.dark .back-to-top:hover {
  background-color: rgb(103, 71, 129);
  box-shadow: 0 6px 16px rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 1.5rem;
    right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.button {
  font-size: 48px;
}
