.intro-overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  cursor: pointer;
  background-color: black;
}

/* Typewriter animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typewriter-container {
  position: fixed;
  bottom: 10rem;
  right: 10rem;
  font-size: 0.875rem;
  color: white;
  z-index: 10000;
}

.galaxy-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #000000;
}

.typewriter {
  bottom: 2rem;
  right: 2rem;
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  letter-spacing: 0.05em;
  animation:
    typing 2.5s steps(23, end),
    blink-caret 0.75s step-end infinite;
}
